@font-face {
    font-family: 'TiemposTextRegular';
    src: url('/assets/_fonts/TiemposTextRegular.eot');
    src: url('/assets/_fonts/TiemposTextRegular.eot') format('embedded-opentype'),
         url('/assets/_fonts/TiemposTextRegular.woff2') format('woff2'),
         url('/assets/_fonts/TiemposTextRegular.woff') format('woff'),
         url('/assets/_fonts/TiemposTextRegular.ttf') format('truetype'),
         url('/assets/_fonts/TiemposTextRegular.svg#TiemposTextRegular') format('svg');
}

@font-face {
    font-family: 'TiemposTextRegularItalic';
    src: url('/assets/_fonts/TiemposTextRegularItalic.eot');
    src: url('/assets/_fonts/TiemposTextRegularItalic.eot') format('embedded-opentype'),
         url('/assets/_fonts/TiemposTextRegularItalic.woff2') format('woff2'),
         url('/assets/_fonts/TiemposTextRegularItalic.woff') format('woff'),
         url('/assets/_fonts/TiemposTextRegularItalic.ttf') format('truetype'),
         url('/assets/_fonts/TiemposTextRegularItalic.svg#TiemposTextRegularItalic') format('svg');
}

@font-face {
    font-family: 'TiemposTextBold';
    src: url('/assets/_fonts/TiemposTextBold.eot');
    src: url('/assets/_fonts/TiemposTextBold.eot') format('embedded-opentype'),
         url('/assets/_fonts/TiemposTextBold.woff2') format('woff2'),
         url('/assets/_fonts/TiemposTextBold.woff') format('woff'),
         url('/assets/_fonts/TiemposTextBold.ttf') format('truetype'),
         url('/assets/_fonts/TiemposTextBold.svg#TiemposTextBold') format('svg');
}

a, a:focus, *:focus {
	outline: none;
	noFocusLine: expression(this.onFocus=this.blur());
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: black;
}

html {
  font-size: 10px;
  font-family: 'TiemposTextRegular', Georgia, Arial;
  background-color: #fff;
}
body {
  font-size: 1rem;
  color: #000;
}
p {
  font-size: 1.4rem;
  line-height: 190%;
  margin: 0;
}
@media (min-width: 62em) {
  p {
    font-size: 1.6rem;
  }
}
p a {
  text-decoration: none;
  border-bottom: 1px solid #ff3700;
  padding-bottom: 0.2em;
}
p b {
  font-weight: normal;
  font-family: 'TiemposTextBold', Georgia, Arial;
}
p i {
  font-weight: normal;
  font-style: normal;
  font-family: 'TiemposTextRegularItalic', Georgia, Arial;
}
.title path,
.title_secondary,
.essay_content,
.essay_line {
  opacity: 0;
}
html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
img {
  max-width: 100%;
  margin-top: -10px;
}
.essay {
  margin-top: 10vw;
  margin-left: 5vw;
}
@media (min-width: 62em) {
  .essay {
    margin: 0;
  }
}
.essay_content {
  margin: 5vw;
}
@media (min-width: 62em) {
  .essay_content {
    margin: 10vw;
    width: 45vw;
    margin-left: 45vw;
  }
}
.essay p {
  margin-bottom: 1.5em;
}
.essay_line {
  width: 1px;
  background: #ff3700;
  height: 0px;
  transition: height 1500ms ease-out;
  transition-delay: 3500ms;
  margin-left: calc(0vw - 1px);
  position: fixed;
  z-index: 999;
}
.essay_line.active {
  height: 100vh;
}
@media (min-width: 62em) {
  .essay_line {
    position: fixed;
    margin-left: calc(35vw - 1px);
  }
}
.title {
  margin: 5vw;
}
@media (min-width: 62em) {
  .title {
    margin: 10vw;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
.title_secondary {
  margin: 10vw 5vw;
}
@media (min-width: 62em) {
  .title_secondary {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10vw;
  }
}
.baldwin {
  margin-top: calc(10vw - 2.4rem);
  width: 100vw;
  max-width: 100vw;
  margin-left: -10vw;
}
@media (min-width: 62em) {
  .baldwin {
    margin-left: -10vw;
    margin-top: calc(10vw - 2.4rem);
    width: 65vw;
    max-width: 100vw;
  }
}
.trailer_wrapper {
  width: 100vw;
  margin-left: -10vw;
  margin-top: calc(10vw - 2.4rem);
  margin-bottom: calc(10vw - 2.4rem);
}
@media (min-width: 62em) {
  .trailer_wrapper {
    width: 65vw;
  }
}
.trailer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
