@font-face {
    font-family: 'TiemposTextRegular';
    src: url('/assets/_fonts/TiemposTextRegular.eot');
    src: url('/assets/_fonts/TiemposTextRegular.eot') format('embedded-opentype'),
         url('/assets/_fonts/TiemposTextRegular.woff2') format('woff2'),
         url('/assets/_fonts/TiemposTextRegular.woff') format('woff'),
         url('/assets/_fonts/TiemposTextRegular.ttf') format('truetype'),
         url('/assets/_fonts/TiemposTextRegular.svg#TiemposTextRegular') format('svg');
}

@font-face {
    font-family: 'TiemposTextRegularItalic';
    src: url('/assets/_fonts/TiemposTextRegularItalic.eot');
    src: url('/assets/_fonts/TiemposTextRegularItalic.eot') format('embedded-opentype'),
         url('/assets/_fonts/TiemposTextRegularItalic.woff2') format('woff2'),
         url('/assets/_fonts/TiemposTextRegularItalic.woff') format('woff'),
         url('/assets/_fonts/TiemposTextRegularItalic.ttf') format('truetype'),
         url('/assets/_fonts/TiemposTextRegularItalic.svg#TiemposTextRegularItalic') format('svg');
}

@font-face {
    font-family: 'TiemposTextBold';
    src: url('/assets/_fonts/TiemposTextBold.eot');
    src: url('/assets/_fonts/TiemposTextBold.eot') format('embedded-opentype'),
         url('/assets/_fonts/TiemposTextBold.woff2') format('woff2'),
         url('/assets/_fonts/TiemposTextBold.woff') format('woff'),
         url('/assets/_fonts/TiemposTextBold.ttf') format('truetype'),
         url('/assets/_fonts/TiemposTextBold.svg#TiemposTextBold') format('svg');
}

a, a:focus, *:focus {
	outline: none;
	noFocusLine: expression(this.onFocus=this.blur());
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: black;
}
