html {
  font-size: 10px;
  font-family: typeface-body;
  background-color: color-background
}

body {
  font-size: 1rem;
  color: color-text
}

p {
  font-size: 1.4rem;
  line-height: 190%;
  margin: 0;
}

@media breakpointLg {
  p {
    font-size: 1.6rem;
  }
}

p a {
  text-decoration: none;
  border-bottom: 1px solid color-red;
  padding-bottom: .2em;
}

p b {
  font-weight: normal;
  font-family: typeface-body-bold;
}

p i {
  font-weight: normal;
  font-style: normal;
  font-family: typeface-body-italic;
}
