.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fixed {
  position: fixed;
}

@media breakpointMd {
  .md-fixed {
    position: fixed;
    z-index: 9;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
  opacity: 0;
}

.background-black {
  background-color: black;
}

.background-white {
  background-color: white;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}
