// Colors

color-red= #ff3700
color-text= #000000
color-background= #ffffff
color-links= #0f0f0f

// Type

typeface-body= 'TiemposText-Regular', 'MaisonNeue-Mono', 'AkzidenzGrotesk-Bold', Arial

// Breakpoints

breakpointSm =		"(min-width: 30em)"
breakpointMd =		"(min-width: 48em)"
breakpointLg =		"(min-width: 62em)"
breakpointXl =		"(min-width: 75em)"
breakpointXxl =		"(min-width: 90em)"
