<!DOCTYPE html>

<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="google" value="notranslate">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <!-- Facebook Open Graph Tags -->
  <meta property="og:URL" content="http://onbeingwhite.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="/assets/_img/og.jpg" />
  <!-- Twitter Sharing Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@jeremypbeasley">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="/assets/_img/og.jpg">
  <link href="/assets/master.css" rel="stylesheet">
  <script src="/assets/master.js"></script>
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/_favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/_favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/_favicon/manifest.json">
  <link rel="mask-icon" href="/assets/_favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/_favicon/favicon.ico">
  <meta name="msapplication-config" content="/assets/_favicon/browserconfig.xml">
  <meta name="theme-color" content="#ff3700">
</head>
<body>
